// @import '../../../style/variables.scss';
@import '../../../style/variables.scss';
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif; 
}

#notfound {
    position: relative;
    height: 700px;
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto 50px;
}

.notfound-404 > div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
}

.notfound-404 > div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}

.notfound h1,
.notfound h2,
.notfound p,
.notfound a {
    font-family: 'Roboto Condensed', sans-serif; 
}

.notfound h1 {
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.notfound h2 {
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.notfound p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.notfound button {
    margin-top: 15px;
}

